@import "tailwindcss";

html {
  font-family: "M PLUS 1p", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

.swiper-slide {
  display: flex !important;
  flex-direction: column;
  height: 100%;
}

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }

  .hidden-appearance {
    /* 矢印を消す（標準） */
    -webkit-appearance: none; /* Chrome, Safari */
    -moz-appearance: none; /* Firefox */
    appearance: none; /* 標準 */
  }
}
